/* Add here all your CSS customizations */
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }
}

/*
 * テーブル調整
 */
table {
  margin: 20px auto;
}

.tbl-r02 {
  width: 100%;
}

.tbl-r02 th {
  background: #f9f9f9;
  border: solid 1px #ccc;
  padding: 10px;
  width: 20%;
}

.tbl-r02 td {
  border: solid 1px #ccc;
  padding: 10px;
  width: 80%;
}

@media screen and (max-width: 919px) {
  .tbl-r02 {
    width: 100%;
  }

  .tbl-r02 th {
    border-bottom: none;
  }

  .tbl-r02 th,
  .tbl-r02 td {
    display: block;
    width: 100%;
  }
}

/* ここから */
.custom-box-shadow {
	-webkit-box-shadow: 0px 0px 60px -10px rgba(139, 139, 139, 0.5);
					box-shadow: 0px 0px 60px -10px rgba(139, 139, 139, 0.5);
}

.custom-box-shadow-2 {
	-webkit-box-shadow: 0px 0px 20px -2px rgba(139, 139, 139, 0.3);
					box-shadow: 0px 0px 20px -2px rgba(139, 139, 139, 0.3);
}

.custom-border-1 {
	border: 8px solid #FFF;
}

.custom-overflow-hidden {
	overflow: hidden;
}

.custom-primary-font {
	font-family: "Sintony", sans-serif !important;
}

.custom-secondary-font {
	font-family: "Playfair Display", serif !important;
}

.custom-font-italic {
	font-style: italic !important;
}

.custom-btn-style-1 {
	padding: 12px 25px !important;
}

.custom-text-color-1 {
	color: #544b40 !important;
}

.custom-text-color-2 {
	color: #beb7b9 !important;
}

.custom-text-color-default {
	color: #777 !important;
}

.custom-hr-color-1 {
	background: #3f3035 !important;
}

.custom-position-relative {
	position: relative;
}

.custom-img-fluid-center {
	margin: 0 auto;
}

.custom-section-padding-1 {
	padding: 70px 0 160px !important;
}

.custom-section-padding-2 {
	padding: 110px 0 !important;
}

.custom-section-padding-3 {
	padding: 60px 0 180px !important;
}
@media (max-width: 767px) {
	.custom-section-padding-3 {
		padding: 60px 0 120px !important;
	}
}

.custom-section-padding-4 {
	padding: 78px 0 !important;
}

.custom-margin-1 {
	margin-left: 95px;
}

.custom-negative-margin-1 {
	margin: -90px 0 60px !important;
}

.custom-negative-margin-2 {
	margin-top: -180px !important;
}
@media (max-width: 767px) {
	.custom-negative-margin-2 {
		margin-top: -90px !important;
	}
}

@media (min-width: 992px) {
	.custom-md-margin-bottom-1 {
		margin-bottom: 30px !important;
	}
}
@media (max-width: 991px) {
	.custom-sm-margin-bottom-1 {
		margin-bottom: 30px !important;
	}

	.custom-sm-margin-bottom-2 {
		margin-bottom: 25px !important;
	}
}
@media (max-width: 767px) {
	.custom-xs-margin-bottom-1 {
		margin-bottom: 30px !important;
	}

	.custom-xs-ml-0 {
		margin-left: 0 !important;
	}

	.custom-xs-ml-1 {
		margin-left: 60px !important;
	}

	.custom-xs-padding-1 {
		padding-top: 0 !important;
		padding-bottom: 20px;
	}
}
.custom-icon-size-1 {
	font-size: 2em;
}

.custom-line-height-1 {
	line-height: 1.7 !important;
}

.custom-left-cloud {
	position: absolute;
	top: 0;
	left: 0;
}

.custom-right-cloud {
	position: absolute;
	top: 0;
	right: 0;
}

.custom-cloud {
	position: absolute;
	top: 50%;
	width: auto;
	height: 80%;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
}
.custom-cloud.left-pos {
	left: 0;
}
.custom-cloud.left-pos-2 {
	left: 90px;
	top: 58%;
}
.custom-cloud.right-pos {
	right: 0;
}

.custom-small-square {
	position: absolute;
	width: 192px;
	height: 192px;
	top: 50%;
	border: 10px solid #FFF;
	-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
	-webkit-transform: translateY(-50%) rotate(45deg);
					transform: translateY(-50%) rotate(45deg);
}
.custom-small-square.left-pos {
	left: 3vw;
	top: 45%;
}
.custom-small-square.left-pos-2 {
	left: 250px;
}
.custom-small-square.right-pos {
	right: 3vw;
	top: 66%;
}

.custom-big-square {
	position: absolute;
	width: 312px;
	height: 312px;
	top: 43%;
	border: 10px solid #FFF;
	-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
	-webkit-transform: translateY(-50%) rotate(45deg);
					transform: translateY(-50%) rotate(45deg);
}
.custom-big-square.left-pos {
	left: -150px;
}
.custom-big-square.left-pos-2 {
	left: 35px;
}
.custom-big-square.right-pos {
	right: -150px;
}

.custom-box-squares {
	position: relative;
	min-height: 300px;
	margin-top: 38px;
}
.custom-box-squares .custom-cloud {
	height: 100%;
}
.custom-box-squares .custom-big-square {
	width: 250px;
	height: 250px;
}
.custom-box-squares .custom-small-square {
	width: 155px;
	height: 155px;
}

@media (max-width: 991px) {
	.custom-cloud {
		height: 40%;
	}

	.custom-small-square {
		width: 102px;
		height: 102px;
		border: 5px solid #FFF;
	}
	.custom-small-square.left-pos {
		left: 4vw;
	}
	.custom-small-square.right-pos {
		right: 4vw;
		top: 54%;
	}

	.custom-big-square {
		width: 232px;
		height: 232px;
		border: 5px solid #FFF;
	}
}
.custom-social-icons li {
	-webkit-box-shadow: none !important;
					box-shadow: none !important;
}
.custom-social-icons li a {
	background: transparent;
	font-size: 17px;
	color: #FFF !important;
}
.custom-social-icons li:hover a {
	background: transparent !important;
	color: #da7940 !important;
}

.custom-social-icons-2 li, .custom-social-icons-big li {
	-webkit-box-shadow: none !important;
					box-shadow: none !important;
	border: 1px solid #9D9D9D;
}
.custom-social-icons-2 li a, .custom-social-icons-big li a {
	line-height: 34px;
	background: transparent;
	color: #9D9D9D !important;
}
.custom-social-icons-2 li:hover, .custom-social-icons-big li:hover {
	border-color: #da7940;
}
.custom-social-icons-2 li:hover a, .custom-social-icons-big li:hover a {
	background: transparent !important;
	color: #da7940 !important;
}

.custom-social-icons-big {
	margin-bottom: 20px;
}
.custom-social-icons-big li {
	border-width: 2px;
	margin: 0;
}
.custom-social-icons-big li:nth-child(2) {
	margin: 0 20px;
}
.custom-social-icons-big li a {
	position: relative;
	width: 60px;
	height: 60px;
	font-size: 23px;
	line-height: 65px;
	background: transparent !important;
}
.custom-social-icons-big li .custom-icon-title {
	position: absolute;
	left: 50%;
	bottom: -24px;
	font-size: 12px;
	line-height: 1;
	letter-spacing: -1px;
	-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
}

.custom-social-icons-3 li {
	-webkit-box-shadow: none;
					box-shadow: none;
	border: 2px solid #8C8C8C;
}
.custom-social-icons-3 li a {
	color: #8C8C8C !important;
}

.tp-leftarrow.custom-arrows-style-1, .tp-rightarrow.custom-arrows-style-1 {
	width: 45px;
	height: 80px;
	background: rgba(16, 16, 25, 0.5);
}
.tp-leftarrow.custom-arrows-style-1:hover, .tp-rightarrow.custom-arrows-style-1:hover {
	background: #101019;
}
.tp-leftarrow.custom-arrows-style-1:before, .tp-rightarrow.custom-arrows-style-1:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 70%;
	width: 30px;
	height: 30px;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	-webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
					transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

.tp-rightarrow.custom-arrows-style-1 {
	-webkit-transform: rotate(180deg);
					transform: rotate(180deg);
}

.owl-carousel.custom-arrows-style-1 .owl-nav button.owl-prev, .owl-carousel.custom-arrows-style-1 .owl-nav button.owl-next {
	position: absolute;
	width: 55px;
	background: transparent !important;
	-webkit-transition: ease all 300ms;
	transition: ease all 300ms;
}
.owl-carousel.custom-arrows-style-1 .owl-nav button.owl-prev:before, .owl-carousel.custom-arrows-style-1 .owl-nav button.owl-next:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: -2px;
	left: auto;
	width: 100%;
	border-top: 1px solid #da7940;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
}
.owl-carousel.custom-arrows-style-1 .owl-nav button.owl-prev:after, .owl-carousel.custom-arrows-style-1 .owl-nav button.owl-next:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	width: 25px;
	height: 25px;
	border-top: 1px solid #da7940;
	border-right: 1px solid #da7940;
	-webkit-transform: translateY(-50%) rotate(45deg);
					transform: translateY(-50%) rotate(45deg);
}
.owl-carousel.custom-arrows-style-1 .owl-nav button.owl-prev {
	left: 10px;
	-webkit-transform: rotate(-180deg);
					transform: rotate(-180deg);
}
.owl-carousel.custom-arrows-style-1 .owl-nav button.owl-next {
	right: 10px;
}
.owl-carousel.custom-arrows-style-2 .owl-nav button[class*="owl-"] {
	width: 32px;
	height: 55px;
	background: #101019;
}
.owl-carousel.custom-arrows-style-2 .owl-nav button[class*="owl-"]:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 70%;
	width: 15px;
	height: 15px;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
					transform: translate(-50%, -50%) rotate(-45deg);
}
.owl-carousel.custom-arrows-style-2 .owl-nav button[class*="owl-"]:hover, .owl-carousel.custom-arrows-style-2 .owl-nav button[class*="owl-"]:active, .owl-carousel.custom-arrows-style-2 .owl-nav button[class*="owl-"]:focus, .owl-carousel.custom-arrows-style-2 .owl-nav button[class*="owl-"]:active:hover, .owl-carousel.custom-arrows-style-2 .owl-nav button[class*="owl-"]:active:focus {
	background: #101019;
}
.owl-carousel.custom-arrows-style-2 .owl-nav button.owl-next {
	right: -4px;
	-webkit-transform-origin: 50% 25%;
					transform-origin: 50% 25%;
	-webkit-transform: rotate(180deg);
					transform: rotate(180deg);
}
.owl-carousel.custom-arrows-style-2 .owl-nav button.owl-prev {
	left: -4px;
}
.owl-carousel.custom-nav-inside-center .owl-dots {
	position: absolute;
	left: 50%;
	bottom: 10px;
	-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
}
@media (max-width: 991px) {
	.owl-carousel.custom-sm-nav-bottom .owl-nav {
		top: 100%;
		left: 50%;
		margin-top: 0;
		width: 45%;
		-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
	}
}
@media (max-width: 320px) {
	.owl-carousel.custom-sm-nav-bottom .owl-nav {
		width: 57%;
	}
}
