/* Add here all your CSS customizations */
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }
}

/* ここから */
/* テーブル調整 */
 table {
  margin: 20px auto;
}

td, th {
  vertical-align: middle !important;
}

.tbl-r03 {
  width: 100%;
}

.tbl-r03 th {
  background: #f9f9f9;
  border: solid 1px #ccc;
  padding: 10px;
  width: 25%;
}

.tbl-r03 td {
  border: solid 1px #ccc;
  padding: 10px;
  width: 75%;
}

@media screen and (max-width: 919px) {
  .tbl-r03 {
    width: 100%;
  }

  .tbl-r03 th {
    border-bottom: none;
  }

  .tbl-r03 th,
  .tbl-r03 td {
    display: block;
    width: 100%;
  }
}

.tbl-r04 {
  width: 100%;
}

.tbl-r04 th {
  background: #f9f9f9;
  border: solid 1px #ccc;
  padding: 10px;
  width: 35%;
}

.tbl-r04 td {
  border: solid 1px #ccc;
  padding: 10px;
  width: 75%;
}

@media screen and (max-width: 919px) {
  .tbl-r04 {
    width: 100%;
  }

  .tbl-r04 th {
    border-bottom: none;
  }

  .tbl-r04 th,
  .tbl-r04 td {
    display: block;
    width: 100%;
  }
}

/* 個人情報チェック */
