/* Add here all your CSS customizations */
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }
}

/*
 * テーブル調整
 */
table {
  margin: 20px auto;
}

.tbl-r02 {
  width: 100%;
}

.tbl-r02 th {
  background: #f9f9f9;
  border: solid 1px #ccc;
  padding: 10px;
  width: 20%;
}

.tbl-r02 td {
  border: solid 1px #ccc;
  padding: 10px;
  width: 80%;
}

@media screen and (max-width: 919px) {
  .tbl-r02 {
    width: 100%;
  }

  .tbl-r02 th {
    border-bottom: none;
  }

  .tbl-r02 th,
  .tbl-r02 td {
    display: block;
    width: 100%;
  }
}

/* ここから */
